---
layout: default
---


<section id="two">
    <div class="row">
        <article class="col-6 col-12-xsmall work-item">
            <a href="{{ site.baseurl }}/images/works/spainvoApp-crop.png" class="image fit thumb"><img src="{{ site.baseurl }}/images/works/invocrop.png" alt="" /></a>
            <h3>InvoApp</h3>
            <p>SPA application for billing <br />(Laravel + Vue + VueRouter).</p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="{{ site.baseurl }}/images/works/simulcoin-crop.png" class="image fit thumb"><img src="{{ site.baseurl }}/images/works/simul.png" alt="" /></a>
            <h3>SimulCoin</h3>
            <p>Simulator of purchase and sale of cryptocurrencies <br />(Laravel + Vue).</p>
        </article>
    </div>
</section>
